@model TP.Models.Imovel

@{
    ViewData["Title"] = "Detalhes de Imovel";
}

<h1>@Model.Nome</h1>
<div>
    <span>Avaliacao</span>
    <span>Nr Comentarios</span>
    <span>@Model.Localidade , @Model.Distrito , @Model.Pais</span>
</div>
<div sstyle="margin-bottom: 50px;">
    <img class="imgDetails" src="~/imgImoveis/@Model.Imagem.nome" style=" width: 100%; height: auto; display: block;" />
</div>
<div class="row" style="box-sizing: border-box;">
    <div class="col-md-9">
        <div>
            <h2>@Model.Nome</h2>
        </div>
        <div>
            <ol style="margin: 0px !important; padding: 0px !important;">
                <li style="display: inline-block !important;"><span>@Model.Tipologia Quarto(s)</span></li>
                <li style="display: inline-block !important;"><span>@Model.Wc Casa(s) de banho</span></li>
            </ol>
        </div>
        <hr />
        <div>
            <h6>Descrição</h6>
            <span>
                @Model.Descricao
            </span>
        </div>
        <hr />
        <div>
            <h6>Extras</h6>
            <span>
                @Model.Extras
            </span>
        </div>
    </div>
    <div class="col-md-2" style="border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px; margin-top=10;">
        <div>
            €@Model.Preco / noite
        </div>
        <div>
            @if (!User.IsInRole("Gestor") && !User.IsInRole("Funcionario"))
            {
                <a class="btn btn-danger" asp-action="Create" asp-controller="Reserva" asp-route-id="@Model.Id">Reservar</a>
            }
            else if (User.IsInRole("Gestor"))
            {
                <div>
                    <a class="btn btn-info" asp-action="Index" asp-controller="Reserva" asp-route-id="@Model.Id">Ver lista de Reservas</a>
                </div>
                <div>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                </div>
                
            }
        </div>
    </div>
</div>
<div>
</div>
