@model TP.Models.Imovel

@{
    ViewData["Title"] = "Detalhes de Imovel";
}

<h1>Detalhes do Imóvel:</h1>

<div>
    <h4>@Model.Nome</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_Imovel.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_Imovel.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipologia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipologia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distrito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo_Postal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo_Postal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Create" asp-controller="Reserva" asp-route-id="@Model.Id">Reservar</a> |
    @if (User.IsInRole("Gestor"))
    {
        <a asp-area="Identity" asp-page="/Account/Manage/Portfolio">Voltar atrás</a>
    }
    else
    {
        <a asp-action="Index">Voltar atrást</a>
    }
</div>
