@model IEnumerable<TP.Models.Imovel>

@{
    ViewData["Title"] = "Imoveis Disponíveis";
}

<h1>Imoveis Disponíveis</h1>

<p>
    @if (User.IsInRole("Gestor"))
    {
        <a asp-action="Create">Criar Novo Imovel</a>
    }
</p>
<div>
    @for(int i = 0, j = 0; i < 3; i++, j = j + 3)
    {
        <div class="row">
        @foreach (var item in Model.Skip(j).Take(3))
        {
            <div class="col-md-4">
                <div class="row-md-4">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img class="listImg" src="~/imgImoveis/@item.Imagem.nome" />
                    </a>
                </div>
                <div class="row-md-3">
                    @Html.DisplayFor(modelItem => item.Localidade) , @Html.DisplayFor(modelItem => item.Distrito) , @Html.DisplayFor(modelItem => item.Pais)
                </div>
                <div class="row-md-3">
                    @Html.DisplayFor(modelItem => item.Nome) , @Html.DisplayFor(modelItem => item.Preco)€
                </div>
            </div>
        }
        </div>
    }
</div>
