@model IEnumerable<TP.Models.Imovel>

@{
    ViewData["Title"] = "Imoveis Disponíveis";
}

<h1>Imoveis Disponíveis</h1>

<p>
    @if (User.IsInRole("Gestor"))
    {
        <a asp-action="Create">Criar Novo Imovel</a>
    }
</p>
<!-- <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Imovel.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
<tbody>
    @for (int i = 0, j = 0; i < 3; i++, j = j + 3)
    {
        <tr>
            @foreach (var item in Model.Skip(j))
            {
                <td>
                    <div class="row-md-3">
                        INSERIR IMAGEM
                    </div>
                    <div class="row-md-3">
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Localidade) , @Html.DisplayFor(modelItem => item.Distrito) , @Html.DisplayFor(modelItem => item.Pais)</a>
                    </div>
                    <div class="row-md-3">
                        @Html.DisplayFor(modelItem => item.Nome) , @Html.DisplayFor(modelItem => item.Preco)
                    </div>
                </td>
            }
        </tr>
    }
</tbody>
</table> -->

<div>
    @for(int i = 0, j = 0; i < 3; i++, j = j + 3)
    {
        <div class="row">
        @foreach (var item in Model.Skip(j).Take(3))
        {
            <div class="col-md-3">
                <div class="row-md-3">
                    <!--INSERIR IMAGEM-->
                </div>
                <div class="row-md-3">
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Localidade) , @Html.DisplayFor(modelItem => item.Distrito) , @Html.DisplayFor(modelItem => item.Pais)</a>
                </div>
                <div class="row-md-3">
                    @Html.DisplayFor(modelItem => item.Nome) , @Html.DisplayFor(modelItem => item.Preco)
                </div>
            </div>
        }
        </div>
    }
</div>
