@page
@model PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
    ViewData["ActivePage"] = ManageNavPages.Portfolio;
}

<h1>Os seus Imóveis</h1>

<p>
    <a asp-controller="Imovel" asp-action="Create">Criar Novo Imovel</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Tipo
            </th>
            <th>
                País
            </th>
            <th>
                Distrito
            </th>
            <th>
                Localidade
            </th>
            <th>
                Preço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Imoveis)
        {
            <tr>
                <td>
                    <a asp-controller="Imovel" asp-action="Details" asp-route-id="@item.Id">@item.Nome</a>
                </td>
                <td>
                    @item.Tipo
                </td>
                <td>
                    @item.Pais
                </td>
                <td>
                    @item.Distrito
                </td>
                <td>
                    @item.Localidade
                </td>
                <td>
                    @item.Preco
                </td>
                <td>
                    <a asp-controller="Imovel" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-controller="Imovel" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
        </tbody>
</table>
